*{
    padding:0;
    margin:0;
}
body{
    background-color: #c6e6f2;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
         .boxes{
             display: grid;
             grid-template-columns: repeat(3,1fr);
             grid-template-rows: repeat(3,1fr);
             margin-top:4rem;
        }
        .box{
            height:6rem;
            width:5rem;
            border:4px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            box-sizing: border-box;
        }
        .box1{
               border-left:none;
               border-top:none;

        }
                .box2{
            border-top:none;
        }
                .box3{
            border-top:none;
            border-right:none;
        }
                .box4{
                           border-left:none;
                        }
                        
                        .box6{
                            border-right:none;    
                        }
                        .box7{
                    border-bottom:none;
                    border-left:none;
            
        }
                .box8{
            border-bottom:none;
        }
                .box9{
            border-bottom:none;
            border-right:none;
        }
        .orange{
            color: 	#f57c1f;
        }
        .teal{
            color: #1fada7;
        }
        .buttons{
            display: flex;
            flex-direction: column;
        }
.winners{
       padding:11rem 0rem;
}
.winners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display:none;
}
.newbtn{
    padding: 0.6rem 2rem;
    margin-top: 3rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    color:#0e2d4b;
    font-weight:bold;
    font-size: 1.2rem;
}

.resetbtn{
    padding: 0.6rem 2rem;
    margin-top: 3rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    color:#0e2d4b;
    font-weight:bold;
    font-size: 1.2rem;
}
.Backtolobby{
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
    color:#0e2d4b;
    font-weight:bold;
    font-size: 1.2rem;
}
.headings{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
h1{
   margin: 8rem 0rem 1rem 0rem;
        font-size: 1.7rem;
}
.headings h1{
    font-size: 2rem;
}
@media (max-width:400px){
     h1{
          font-size: 1rem;
     }
}